<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1><%= title%></h1>
    </header>
    <main>
        <p><%= title%></p>
        <form action="/users/add" method="post">
            <table>
                <tr>
                    <th>NAME</th>
                    <td><input type="text" name="name" value="<%= form.name%>"></td>
                </tr>
                <tr>
                    <th>PASSWORD</th>
                    <td><input type="password" name="password" value="<%= form.password%>"></td>
                </tr>
                <tr>
                    <th>COMMENT</th>
                    <td><textarea name="comment"><%= form.comment%></textarea></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="送信"></td>
                </tr>
            </table>
        </form>
    </main>
</body>

</html>