<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <header>
        <h1><%=title%></h1>
    </header>
    <main>
        <p><%-content%></p>
        <form method="POST" action='/chap5-4/add'>
            <table>
                <tr>
                    <th>NAME</th>
                    <td><input type="text" name="name" value="<%= form.name %>"></td>
                </tr>
                <tr>
                    <th>MAIL</th>
                    <td><input type="text" name="mail" value="<%= form.mail %>"></td>
                </tr>
                <tr>
                    <th>AGE</th>
                    <td><input type="text" name="age" value="<%= form.age %>"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="送信"></td>
                </tr>
            </table>
        </form>

    </main>
</body>

</html>