<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <header>
        <h1><%=title%></h1>
    </header>
    <main>
        <table>
            <tr>
                <td><%=mydata.name%></td>
                <td><%=mydata.mail%></td>
                <td><%=mydata.age%></td>
            </tr>
        </table>
        <form action="/chap5-4/delete" method="post">
            <input type="hidden" name="id" value="<%= mydata.id %>">
            <input type="submit" value="削除">
        </form>
    </main>
</body>

</html>