<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>

<body>
    <header>
        <h1><%=title %></h1>
    </header>
    <main>
        <p><%=content %></p>
        <form action="/chap5-4/edit" method="post">
            <input type="hidden" name="id" value="<%= mydata.id %>" />
            <table>
                <tr>
                    <th>NAME</th>
                    <td><input type="text" name="name" value="<%= mydata.name %>"></td>
                </tr>
                <tr>
                    <th>MAIL</th>
                    <td><input type="text" name="mail" value="<%= mydata.mail %>"></td>
                </tr>
                <tr>
                    <th>AGE</th>
                    <td><input type="number" name="age" value="<%= mydata.age %>"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="更新"></td>
                </tr>
            </table>
        </form>
    </main>
</body>

</html>