<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title><%= title %></title>
</head>

<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <p><%- content%></p>
        <p><a href="<%=link.href%>"><%=link.text%></a></p>
        <form action="/" method="post">
            <input type="text" name="message">
            <input type="submit" value="送信">
        </form>
        <table style="width:85%">
            <% for(const key in data){%>
            <%-include('data_item',{key:key,val:data[key]})%>
            <%}%>
        </table>
    </main>
</body>

</html>